body{
  font-family: 'Roboto', 'Times New Roman', serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  background-color: #939393;
}

h1{
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 150px;
  line-height: 140px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin-right: 196px;
  margin-left: 196px;
}

h2{
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 0px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  padding-bottom: 43px;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 1920px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

.container-inner{
  font-size: 0;
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
}

.btn{
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 10px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}

a{
  text-decoration: none;
}

/*header*/

.main-header{
  color: #ffffff;
  background: #eca986 url('../img/bg-header.jpg') no-repeat;

}

.grad{
  background-image: linear-gradient(rgba(243,129,129,0.9), rgba(252,227,138,0.9));
}

.grad .container-inner{
  background-color: transparent;
}

.header-logo{
  float: left;
  width: 90px;
}

.main-navigation{
  float: right;
  min-width: 620px;
}

.main-navigation ul, .bottom-navigation ul{
  /*float: right;*/
  /*min-width: 620px;*/
  list-style: none;
  font-size: 0;
  line-height: 0;
}

.main-navigation li{
  font-size: 14px;
  line-height: 10px;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  margin-left: 54px;
}

.main-navigation li:last-child{
  margin-right: 100px;
}

.icon-basket, .icon-loupe{
  font-size: 0;
  line-height: 0;
  position: relative;
}

.icon-basket::after{
  content: '';
}

.header-title{
  display: inline-block;
  text-align: center;
  margin-top: 176px;
}

.header-title span{
  font-family: 'Kaushan Script', 'Myriad Pro', sans-serif;
  font-size: 72px;
  line-height: 54px;
  font-weight: 400;
}

.btn-learn{
  border: 2px solid #ffffff;
  background-color: transparent;
}

.bottom-navigation{
  margin-left: -40px;
}

.bottom-navigation li{
  font-family: 'Montserrat', 'Arial', sans-serif;
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  text-transform: uppercase;
}

.bottom-navigation .num{
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
}

.bottom-navigation .item{
  font-size: 18px;
  line-height: 14px;
  font-weight: 400;
}

/*main*/

.main-title{
  color: #333333;
  display: block;
  text-align: center;
  margin-top: 96px;
}

.main-title span{
  font-family: 'Kaushan Script', 'Myriad Pro', sans-serif;
  font-size: 24px;
  line-height: 18px;
  font-weight: 400;
}

.main-description{
  font-family: 'Roboto' 'Arial' sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  text-align: center;
  margin-top: 50px;
}

/*about*/

.about-img{
  margin-left: 352px;
  margin-top: 80px;
}

.main-img{
  display: inline-block;
  vertical-align: top;
  width: 380px;
  height: 250px;
  margin-right: 30px;
}

.main-img:nth-of-type(3n){
  margin-right: 330px;
}

.marked-img{
  position: relative;
  top: -10px;
  margin-right: 40px;
}

.main-img .grad{
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 250px;
}

.shadow-img{
  box-shadow: 10px 10px 0 0 #95e1d3;
}
